*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
body{
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background-color: var(--text-color);
    background-size: cover;
    background-position: center;
} 

:root{
        --bg-color:#222327;
        --text-color:#fff;
        --main-color: #0f3052;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo{
    font-size: 2em;
    color: var(--text-color);
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px; /* adjust this for the space between the navbar links */
}

table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}