<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Chart</title>
    <link rel="icon" href="images/Flogo.png" type="images/png" />
    <link rel="stylesheet" href="css/bmi.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

       <!-- Load Google Charts library -->
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <script type="text/javascript">
           google.charts.load('current', {'packages':['gauge']});
           google.charts.setOnLoadCallback(drawChart);
   
           function drawChart() {
               var bmi = parseFloat([[${bmi}]]); // Make sure this is correct Thymeleaf syntax for embedding the variable
               console.log("BMI value:", bmi); // Debugging line to check the value in the browser console
   
               var data = google.visualization.arrayToDataTable([
                   ['Label', 'Value'],
                   ['BMI', bmi]
               ]);
   
               var options = {
                   width: 600,  // Adjust the width value here
                   height: 300, // Adjust the height value here
                   redFrom: 30, redTo: 35,
                   yellowFrom: 25, yellowTo: 30,
                   greenFrom: 18.5, greenTo: 25,
                   minorTicks: 5,
                   max: 35,
                   min: 10,
                   majorTicks: ['10', '15', '20', '25', '30', '35'],
                   animation: {
                        duration: 1000,
                        easing: 'out'
                   }
               };
               
               var chart = new google.visualization.Gauge(document.getElementById('bmi_chart'));
   
               function animateGauge(){
                var currentValue = 0;
                var interval = setInterval(function(){
                    currentValue += 0.1;
                    data.setValue(0, 1, currentValue);
                    chart.draw(data, options);
                    if(currentValue >= bmi){
                        clearInterval(interval);
                    }
                }, 30);
               }

               animateGauge();
           }
       </script>
</head>
<body>

<header>
    <h2 class="logo">
        <img src="images/Flogo.png" alt="FitFlow Logo" style="height: 80px; vertical-align: middle;">
        FitFlow Pro
    </h2>
    <nav class="navigation">
        <a th:href="@{/home}">Home</a>
        <form th:action="@{/profile}" method="get" style="display: inline;">
            <button type="submit" class="btnLogin-popup">Profile</button>
        </form>
    </nav>
</header>

<div class="container">
    <h2>Current Weight(lbs): <span th:text ="${currentWeight}">currentWeight</span></h2>
    <h2>Height(inches): <span th:text ="${height}">height</span></h2>
    <h2>BMI: <span th:text="${bmi}">bmi</span> (<span th:text="${bmiCategory}">bmiCategory</span>)</h2>
    <h1 th:text="${motivationMessage}">motivationMessage</h1>



    <div class="chart-container">
        <div id="bmi_chart"></div> 
    </div>
</div>
</body>
</html>
