<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Tracker</title>
    <link rel="icon" href="images/Flogo.png" type="images/png" />
    <link rel="stylesheet" href="css/workouts.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">FitFlow Pro</h2>
        <nav class="navigation">
            <a th:href="@{/home}">Home</a>
            <form th:action="@{/profile}" method="get" style="display: inline;">
                <button type="submit" class="btnLogin-popup">Profile</button>
            </form>
        </nav>
    </header>

    <div class="container">
        <h1>Calorie Tracker</h1>
        <form id="calorieForm" th:action="@{/addMeal}" th:object="${meal}" method="post">
            <label for="meal">Meal:</label>
            <input type="text" id="mealName" th:field="*{mealName}" name="mealName" required>
            <label for="calories">Calories:</label>
            <input type="number" id="calories" th:field="*{calories}" name="calories" required>
            <label for="mealType">Meal Type:</label>
            <select id="mealType" th:field="*{mealType}" name="mealType" required>
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
            </select>
            <label for="date">Date:</label>
            <input type="date" id="date" th:field="*{date}" name="date" th:value="${selectedDate}" required>
            <button type="submit" class="btn">Add Meal</button>
        </form>
        <div id="totalCalories">
            <h1>Calorie Overview - <span th:text="${calorieMessage}"></span></h1>
            <p>Total Calories: <span id="total" th:text="${totalCalories}">0</span></p>
            <p>Recommended Daily Intake: <span th:text="${formattedCalorieIntake}">0</span> (1 lb a week)</p>
            <p><span th:text="${goalCalorieMessage}">goalCalorieMessage</p>
        </div>

        <div id="mealList">
            <h1>Meal List for <span th:text="${selectedDate}"></span></h1>
            <div th:each="entry : ${groupedMeals}">
                <h3 th:text="${entry.key}"></h3>
                <table>
                    <thead>
                        <tr>
                            <th>Meal</th>
                            <th>Calories</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="meal : ${entry.value}">
                            <td th:text="${meal.mealName}"></td>
                            <td th:text="${meal.calories}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="navigation-buttons">
            <form th:action="@{/calorie_tracker}" method="get">
                <input type="hidden" name="date" th:value="${previousDay}"/>
                <button type="submit" class="btn">Previous Day</button>
            </form>
            <form th:action="@{/calorie_tracker}" method="get">
                <input type="hidden" name="date" th:value="${nextDay}"/>
                <button type="submit" class="btn">Next Day</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => { 
            const dateInput = document.getElementById('date'); 
            const today = new Date().toISOString().split('T')[0]; 
            if (!dateInput.value) {
                dateInput.value = today; 
            }
        });
    </script>
</body>
</html>
