<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="icon" href="images/Flogo.png" type="images/png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">


</head>
<body>

    <header>
        <h2 class="logo">
            <img src="images/Flogo.png" alt="FitFlow Logo" style="height: 80px; vertical-align: middle;">
            FitFlow Pro
        </h2>
        <nav class="navigation">
            <a th:href="@{/home}">Home</a>  
            <button class="btnLogin-popup" th:href="@{/login}">Login</button>
        </nav>
    </header>

    <div class="container">
        <h2>Reset Password</h2>

         <!-- Display error message if present -->
        <div th:if="${emailError}" style="color: red;">
            <p th:text="${emailError}"></p>
        </div>

        <!-- Display success message if present -->
        <div th:if="${message}" style="color: green;">
            <p th:text="${message}"></p>
        </div>

        <form th:action="@{/forgot_password}" method="post">
            <label for="email">Enter your email:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit" class="btn">Send reset email.</button>
        </form>
    </div>

</body>
</html>
