<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="images/Flogo.png" type="images/png" />
    <link rel="stylesheet" href="css/home.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <h2 class="logo">FitFlow Pro</h2>
        <nav class="navigation">
            <a th:href="@{/home}">Home</a>
            <form th:action="@{/profile}" method="get" style="display: inline;">
                <button type="submit" class="btnLogin-popup">Profile</button>
            </form>
        </nav>
    </header>

    <div class="container">
        <div class="text-content">
            <h1 th:text="${username}">username</h1>
            <h2>Age: <span th:text="${age}">age</span></h2>
            <h2>Current Weight: <span th:text="${currentWeight}">currentWeight</span></h2>
            <h2>Goal Weight: <span th:text="${goalWeight}">goalWeight</span></h2>
            <h2>Activity Level: <span th:text="${experienceLevel}">experienceLevel</span>(<span th:text="${activityCategory}">activityCategory</span>)</h2>
            <h2>Welcome to the Home Page!</h2>
            <h1>Features:</h1>
            <ul>
                <li><a th:href="@{/workouts}">Workout Exercises</a></li>
                <li><a th:href="@{/rate_workouts}">Rate Workout Routines for a personalized insight.</a></li>
                <li><a th:href="@{/calorie_tracker}">Calorie Tracking</a></li>
                <li><a th:href="@{/bmi}">BMI Calculator</a></li>
            </ul>
        </div>

        <div class="random-image-container">
            <img th:src="@{'/images/' + ${randomImage}}" alt="Random Image" />
        </div>
    </div>

</body>
</html>
