<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Fernando Romo">
    <title>FitFlow Pro</title>
    <script>
        function showMessages(){
            // used to parse the query string parameters from the current page's URL
            //(window.location.search) returns the query string part of the current URL, which includes everything from
            //                         the question mark onward
            const urlParams = new URLSearchParams(window.location.search);

            if(urlParams.has('logout')){
                alert("You have been logged out successfully.");
            }
            if(urlParams.has('emailSent')){
                alert("You have been sent a verification email. Please wait up to 5-10 minutes for the email to appear in your inbox. Check spam folder in case it is marked as spam.");
            }
            if(urlParams.has('passwordUpdatedSuccessfully')){
                alert("You have updated your password successfully. You can now log in.")
            }
        }
    </script>


    <link rel="icon" href="images/Flogo.png" type="images/png" />
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body onload="showMessages()">
    <header>
        <h2 class="logo">
            <img src="images/Flogo.png" alt="FitFlow Logo" style="height: 80px; vertical-align: middle;">
            FitFlow Pro
        </h2>
        <nav class="navigation">
            <a th:href="@{/home}">Home</a>  
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
      
    <div class="form-box login">
        <h2>Login</h2>
        <form th:action="@{/login}" method="post">
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="person"></ion-icon>
                </span>
                <input type="text" name="username" required>
                <label>Username</label>
            </div>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Remember me </label>
                &nbsp;
                <a th:href="@{/forgot_password}"><span></span> Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <div th:if="${param.error}">
            <p style="color: red;">Invalid username or password.</p>
        </div>
        <div class="login-register">
            <p>Don't have an account?<a th:href="@{/register}" class="register-link"> Register</a></p>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
