<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workouts</title>
    <link rel="icon" href="Flogo.png" type="images/png" />
  
    <link rel="stylesheet" href="workouts.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h2 class="logo">
          FitFlow Pro</h2>
          <nav class="navigation">
          <a th:href="@{/home}">Home</a>  
          <button class="btnLogin-popup">Profile</button>
        </nav>
      </header>

      <h1>Rate Workout Routines!</h1>
      <form method="post" action="/suggested_workouts">
          <table>
              <thead>
                  <tr>
                      <th>Routine Name</th>
                      <th>Workouts</th>
                      <th>Difficulty Rating</th>
                      <th>User Rating (1-5)</th>
                  </tr>
              </thead>
              <tbody>
                  <tr th:each="routine : ${routines}">
                      <td th:text="${routine.name}"></td>
                      <td>
                          <ul>
                              <li th:each="workout : ${routine.workouts}" th:text="${workout.workoutName}"></li>
                          </ul>
                      </td>
                      <td th:text =${routine.routineDifficulty}></td>
                      <td>
                          <input type="number" name="rating" min="1" max="5" step="0.1">
                          <input type="hidden" name="userId" value="6">
                          <input type="hidden" name="routineId" th:value="${routine.routineId}">
                      </td>
                  </tr>
              </tbody>
          </table>
          <button type="submit">Submit Ratings</button>
      </form>
</body>
</html>
