<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rate Workouts</title>
    <link rel="icon" href="images/Flogo.png" type="images/png" />
    <link rel="stylesheet" href="css/workouts.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">FitFlow Pro</h2>
        <nav class="navigation">
            <a th:href="@{/home}">Home</a>
            <form th:action="@{/profile}" method="get" style="display: inline;">
                <button type="submit" class="btnLogin-popup">Profile</button>
            </form>
        </nav>
    </header>

    <h1>Rate Workout Routines!</h1>
    <h2>When submitted you will receive a more personalized routine based on your preferences.</h2>
    <form method="post" th:action="@{/suggested_workouts}">
        <table>
            <thead>
                <tr>
                    <th>Routine Name</th>
                    <th>Exercises</th>
                    <th>Difficulty Rating</th>
                    <th>User Rating (1-5)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="routine, iter : ${routines}">
                    <td th:text="${routine.name}"></td>
                    <td>
                        <ul>
                            <li th:each="workout : ${routine.workouts}" th:text="${workout.workoutName}"></li>
                        </ul>
                    </td>
                    <td th:text="${routine.routineDifficulty}"></td>
                    <td>
                        <input type="number" th:name="ratings[__${iter.index}__].rating" min="1" max="5" step="0.1">
                        <input type="hidden" th:name="ratings[__${iter.index}__].routineId" th:value="${routine.routineId}">
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Submit Ratings</button>
    </form>
</body>
</html>
