<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workouts</title>
    <link rel="icon" href="images/Flogo.png" type="images/png" />
  
    <link rel="stylesheet" href="css/workouts.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">
          FitFlow Pro</h2>
          <nav class="navigation">
          <a th:href="@{/home}">Home</a>  
          <form th:action="@{/profile}" method="get" style="display: inline;">
            <button type="submit" class="btnLogin-popup">Profile</button>
        </form>
    </nav>
    </header>

    <h1>Suggested workout routines based on your personal ratings and other users!</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Routine Name</th>
                    <th>Workouts</th>
                    <th>Difficulty Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="routine : ${recommendations}">
                    <td th:text="${routine.name}"></td>
                    <td>
                        <ul>
                            <!-- Iterate over workouts in the routine -->
                            <li th:each="workout : ${routine.workouts}" th:text="${workout.workoutName}"></li>
                        </ul>
                    </td>
                    <td th:text="${routine.routineDifficulty}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
