<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workouts</title>
    <link rel="icon" href="images/Flogo.png" type="images/png" />
  
    <link rel="stylesheet" href="css/workouts.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">
            <img src="images/Flogo.png" alt="FitFlow Logo" style="height: 60px; vertical-align: middle;">
            FitFlow Pro
        </h2>
          <nav class="navigation">
          <a th:href="@{/home}">Home</a>  
          <form th:action="@{/profile}" method="get" style="display: inline;">
            <button type="submit" class="btnLogin-popup">Profile</button>
        </form>
        </nav>
      </header>

    <h1>All Workouts (Sorted by Muscle Group)</h1>
    <div th:each="entry : ${groupedWorkouts}">
        <h2 th:text="${entry.key}"></h2>
        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Description</th>
                    <th>Difficulty Rating</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate over workouts under each body part -->
                <tr th:each="workout : ${entry.value}">
                    <td th:text="${workout.workoutName}"></td>
                    <td th:text="${workout.workoutDesc}"></td>
                    <td th:text="${workout.difficultyRating}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
