<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workouts</title>
    <link rel="icon" href="Flogo.png" type="images/png" />
  
    <link rel="stylesheet" href="workouts.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="logo">
          FitFlow Pro</h2>
          <nav class="navigation">
          <a th:href="@{/home}">Home</a>  
          <a th:href="@{/services}">Services</a>  
          <a href="#">Contact</a>
          <button class="btnLogin-popup">Profile</button>
        </nav>
      </header>

    <h1>Suggested Workouts based on your experience level</h1>
    <!-- <h1 th:text="${experienceLevel}">experienceLevel</h1>
    <div th:each="entry : ${groupedWorkouts}">
        <h2 th:text="${entry.key}"></h2>
        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Description</th>
                    <th>Difficulty Rating</th>
                </tr>
            </thead>
            <tbody> -->
                <!-- Iterate over workouts under each body part -->
                <!-- <tr th:each="workout : ${entry.value}">
                    <td th:text="${workout.workoutName}"></td>
                    <td th:text="${workout.workoutDesc}"></td>
                    <td th:text="${workout.difficultyRating}"></td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <h1>All Workouts</h1>
    <div th:each="entry : ${groupedWorkouts}">
        <h2 th:text="${entry.key}"></h2>
        <table>
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Description</th>
                    <th>Difficulty Rating</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate over workouts under each body part -->
                <tr th:each="workout : ${entry.value}">
                    <td th:text="${workout.workoutName}"></td>
                    <td th:text="${workout.workoutDesc}"></td>
                    <td th:text="${workout.difficultyRating}"></td>
                </tr>
            </tbody>
        </table>
    </div>




    <!-- <table>
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Description</th>
                <th>Body Part Focus</th>
                <th>Difficulty Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="workout : ${entry.value}">
                <td th:text="${workout.workoutName}"></td>
                <td th:text="${workout.workoutDesc}"></td>
                <td th:text="${workout.bodyPartFocus}"></td>
                <td th:text="${workout.difficultyRating}"></td>
            </tr>
        </tbody>
    </table> -->
</body>
</html>
